<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ganxa Home Page</title>
    <% include ./partial/head %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".deletebutton").click(function () {
                $.ajax({
                    url: "/delete/store/"+$(this).val(),
                    type: "DELETE",
                    success: function (data, textStatus, jqXHR) {
                        /*var x = document.cookie;
                        alert(x + " nha");
                        document.cookie = "login=ok";*/
                        window.location.href = "/";
                    }
                });
            });
        });
    </script>
</head>
<body>
<div id="page-wrapper">
    <!-- Preloader -->
    <div class="preloader themed-background">
        <h1 class="push-top-bottom text-light text-center"><strong>Pro</strong>UI</h1>
        <div class="inner">
            <h3 class="text-light visible-lt-ie9 visible-lt-ie10"><strong>Loading..</strong></h3>
            <div class="preloader-spinner hidden-lt-ie9 hidden-lt-ie10"></div>
        </div>
    </div>
    <!-- END Preloader -->
    <!-- Page Container -->
    <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">
        <!-- Alternative Sidebar -->
        <% include ./partial/slidebar %>
        <div id="main-container">
            <% include ./partial/header %>
            <!-- Page content -->
            <div id="page-content">
                <!--ROW-->
                <ul class="breadcrumb breadcrumb-top">
                    <li><a href="">Home</a></li>
                </ul>
                <!-- END Table Responsive Header -->

                <!-- Responsive Full Block -->
                <div class="block">
                    <!-- Responsive Full Title -->
                    <div class="block-title">
                        <h2><strong>Full Store</strong></h2>
                    </div>
                    <!-- END Responsive Full Title -->
                    <div class="table-responsive">
                        <table class="table table-vcenter table-striped">
                            <thead>
                            <tr>
                                <th style="width: 150px;" class="text-center"><i class="gi gi-user"></i></th>
                                <th>Store Name</th>
                                <th>Address</th>
                                <th style="width: 150px;" class="text-center">Actions</th>
                            </tr>
                            </thead>
                            <% store_array.forEach(function(store){ %>
                            <tbody>
                            <tr>
                                <td class="text-center"><img src="<%= store.logo %>" alt="avatar"
                                                             class="img-circle img-store"></td>
                                <td><a href="store_detail?id=<%= store._id %>"><%= store.store_name.substring(0, 40) %>
                                        <% if (store.store_name.length > 20){ %>
                                        ...
                                        <% } %>
                                    </a></td>
                                <td>
                                    <% store.address.forEach(function (a) { %>
                                    <%= (a.street + ", " + a.district + ", " + a.city).substring(0, 40) %>... <a
                                            href="store_detail?id=<%= store._id %>">more</a>
                                    <% }) %>
                                </td>
                                <td class="text-center">
                                    <div class="btn-group btn-group-xs">
                                        <a href="edit_store?id=<%= store._id %>" data-toggle="tooltip" title="Edit"
                                           class="btn btn-default"><i class="fa fa-pencil"></i></a>
                                        <button value="<%= store._id %>" class="btn btn-danger deletebutton"><i class="fa fa-times"></i></button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <% }) %>
                        </table>
                    </div>
                    <!-- END Responsive Full Content -->
                </div>
                <!-- END Responsive Full Block -->

            </div>
            <!-- END Page Content -->
            <% include ./partial/footer %>
        </div>
        <!-- Page content -->

    </div>

</div>
<!--END PAGE WRAPPER-->
<% include ./partial/settings %>

</body>
</html>