<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ganxa Home Page</title>    <!--head-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <!--font awesome-->
    <link rel="stylesheet" href="/css/font-awesome.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <!--bootflat-->

    <!--<link rel="stylesheet" href="./libs/Bootflat/bootflat/css/bootflat.min.css">-->
    <!--style-->
    <link rel="stylesheet" href="/css/style.css"/>


    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="/img/favicon.png">
    <link rel="apple-touch-icon" href="/img/icon57.png" sizes="57x57">
    <link rel="apple-touch-icon" href="/img/icon72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="/img/icon76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="/img/icon114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="/img/icon120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/img/icon144.png" sizes="144x144">
    <link rel="apple-touch-icon" href="/img/icon152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/img/icon180.png" sizes="180x180">
    <!-- END Icons -->

    <!-- Stylesheets -->
    <!-- Bootstrap is included in its original form, unaltered -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Related styles of various icon packs and plugins -->
    <link rel="stylesheet" href="/css/plugins.css">

    <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
    <link rel="stylesheet" href="/css/main.css">

    <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

    <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
    <link rel="stylesheet" href="/css/themes.css">
    <!-- END Stylesheets -->



    <!-- Remember to include excanvas for IE8 chart support -->
    <!--[if IE 8]><script src="/js/helpers/excanvas.min.js"></script><![endif]-->

    <script>!window.jQuery && document.write(decodeURI('%3Cscript src="js/vendor/jquery-1.11.1.min.js"%3E%3C/script%3E'));</script>

    <!-- Bootstrap.js, Jquery plugins and Custom JS code -->

    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/app.js"></script>

    <!-- Load and execute javascript code used only in this page -->
    <script>$(function(){ Index.init(); });</script>



    <!--end head-->


    <script src="/js/vendor/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $(".deletestorebutton").click(function () {
                var answer = confirm("Xóa thiệt hả, mất luôn đó?");
                if (answer) {
                    var x = $(this).val();
                    $.ajax({
                        url: "/delete/store/" + $(this).val(),
                        type: "DELETE",
                        success: function (data, textStatus, jqXHR) {
                            alert(data);
                            //window.location.href = "/";
                            $('#' + x).slideUp();
                        }
                    });
                }
            });

        });
    </script>
</head>
<body>
<div id="page-wrapper">
    <!-- Preloader -->
    <div class="preloader themed-background">
        <h1 class="push-top-bottom text-light text-center"><strong>Softer</strong>Source</h1>

        <div class="inner">
            <h3 class="text-light visible-lt-ie9 visible-lt-ie10"><strong>Loading..</strong></h3>

            <div class="preloader-spinner hidden-lt-ie9 hidden-lt-ie10"></div>
        </div>
    </div>
    <!-- END Preloader -->
    <!-- Page Container -->
    <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">
        <!-- Alternative Sidebar -->
        <% include ./partial/slidebar %>
        <div id="main-container">
            <% include ./partial/header %>
            <!-- Page content -->
            <div id="page-content">
                <!--ROW-->
                <ul class="breadcrumb breadcrumb-top">
                    <li><a href="">Home</a></li>
                </ul>
                <!-- END Table Responsive Header -->

                <!-- Responsive Full Block -->
                <div class="block">
                    <!-- Responsive Full Title -->
                    <div class="block-title">
                        <h2><strong>Full Store</strong></h2>
                    </div>
                    <!-- END Responsive Full Title -->
                    <div class="table-responsive">
                        <table class="table table-vcenter table-striped">
                            <thead>
                            <tr>
                                <th style="width: 150px;" class="text-center"><i class="gi gi-user"></i></th>
                                <th>Store Name</th>
                                <th>Address</th>
                                <th style="width: 150px;" class="text-center">Actions</th>
                            </tr>
                            </thead>

                            <tbody>
                            <% store_array.forEach(function(store){ %>
                            <tr id="<%= store._id %>">
                                <td class="text-center"><img src="<%= store.logo %>" alt="avatar"
                                                             class="img-circle img-store"></td>
                                <td><a href="/store/<%= store.url %>"><%= store.store_name.substring(0, 40) %>
                                        <% if (store.store_name.length > 20){ %>
                                        ...
                                        <% } %>
                                    </a></td>
                                <td>
                                    <% store.address.forEach(function (a) { %>
                                    <%= (a.street + ", " + a.district + ", " + a.city).substring(0, 40) %>... <a
                                            href="/store/<%= store.url %>">more</a>
                                    <% }) %>
                                </td>
                                <td class="text-center">
                                    <div class="btn-group btn-group-xs">
                                        <a href="../edit_store?id=<%= store._id %>" data-toggle="tooltip" title="Edit"
                                           class="btn btn-default"><i class="fa fa-pencil"></i></a>
                                        <button value="<%= store._id %>" class="btn btn-danger deletestorebutton"><i
                                                    class="fa fa-times"></i></button>
                                    </div>
                                </td>
                            </tr>
                            <% }) %>
                            </tbody>


                        </table>
                        <div class="col-md-4"></div>
                        <div class="col-md-4 text-center">
                            <ul class="pagination">
                                <li><a href="javascript:void(0)"><i class="fa fa-chevron-left"></i></a></li>
                                <li class="active"><a href="javascript:void(0)">1</a></li>
                                <li><a href="javascript:void(0)"><i class="fa fa-chevron-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- END Responsive Full Content -->
                </div>
                <!-- END Responsive Full Block -->

            </div>
            <!-- END Page Content -->
            <% include ./partial/footer %>
        </div>
        <!-- Page content -->

    </div>

</div>
<!--END PAGE WRAPPER-->
<% include ./partial/settings %>

</body>
</html>