<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ganxa Home Page</title>
    <% include ./partial/head %>
</head>
<body>
<div id="page-wrapper">
    <!-- Preloader -->
    <div class="preloader themed-background">
        <h1 class="push-top-bottom text-light text-center"><strong>Pro</strong>UI</h1>

        <div class="inner">
            <h3 class="text-light visible-lt-ie9 visible-lt-ie10"><strong>Loading..</strong></h3>

            <div class="preloader-spinner hidden-lt-ie9 hidden-lt-ie10"></div>
        </div>
    </div>
    <!-- END Preloader -->

    <!-- Page Container -->
    <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">
        <!-- Alternative Sidebar -->
        <% include ./partial/slidebar %>
        <div id="main-container">
            <% include ./partial/header %>
            <!-- Page content -->
            <div id="page-content">
                <!--ROW-->
                <div class="row">


                    <!--VIET TRONG NAY  -->

                    <!--<div class="col-md-12 col-xs-12 col-sm-12">-->
                        <span class="label label-primary label-index col-md-12 col-xs-12 col-sm-12">
                            <h2>New Store</h2>
                        </span>
                    <!--</div>-->
                    <% store_array.forEach(function(store){ %>
                    <div class="row-home">

                        <div class="thumbnail">
                            <img class="img-store" src="<%= store.cover %>" alt=" ">
                            <img class="img-logo" src="<%= store.logo %>">
                            <center><a href="store_detail?id=<%= store._id %>"><h4
                                            class="h4_index"><%= store.store_name.substring(0, 40) %>
                                        <% if (store.store_name.length > 40){ %>
                                        ...
                                        <% } %>
                                    </h4></a></center>
                            <p class="p-index">
                                <% store.address.forEach(function (a) { %>
                                <%= (a.street + ", " + a.district + ", " + a.city).substring(0, 50) %>... <a
                                        href="store_detail?id=<%= store._id %>">xem thêm</a>
                                <% }) %>
                            </p>
                            <a href="edit_store?id=<%= store._id %>" class="btn btn-primary btn-block btn_index">Edit
                                store</a>
                        </div>
                    </div>
                    <% }) %>

                </div>
                <!--END ROW-->
            </div>
            <!-- END Page Content -->
            <% include ./partial/footer %>
        </div>
        <!-- Page content -->

    </div>

</div>
<!--END PAGE WRAPPER-->
<% include ./partial/settings %>

</body>
</html>