<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>
<html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>Search Page - Ganxa</title>

    <meta charset="utf-8">
    <meta name="description" content="ProUI is a Responsive Bootstrap Admin Template created by pixelcave and published on Themeforest.">
    <meta name="author" content="pixelcave">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
    <!--font awesome-->
    <link rel="stylesheet" href="/css/font-awesome.css"/>
    <link rel="stylesheet" href="/css/font-awesome.min.css"/>
    <!--bootflat-->

    <!--<link rel="stylesheet" href="./libs/Bootflat/bootflat/css/bootflat.min.css">-->
    <!--style-->
    <link rel="stylesheet" href="/css/style.css"/>


    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="/img/favicon.png">
    <link rel="apple-touch-icon" href="/img/icon57.png" sizes="57x57">
    <link rel="apple-touch-icon" href="/img/icon72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="/img/icon76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="/img/icon114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="/img/icon120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/img/icon144.png" sizes="144x144">
    <link rel="apple-touch-icon" href="/img/icon152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/img/icon180.png" sizes="180x180">
    <!-- END Icons -->

    <!-- Stylesheets -->
    <!-- Bootstrap is included in its original form, unaltered -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- Related styles of various icon packs and plugins -->
    <link rel="stylesheet" href="/css/plugins.css">

    <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
    <link rel="stylesheet" href="/css/main.css">

    <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

    <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
    <link rel="stylesheet" href="/css/themes.css">
    <!-- END Stylesheets -->



    <!-- Remember to include excanvas for IE8 chart support -->
    <!--[if IE 8]><script src="/js/helpers/excanvas.min.js"></script><![endif]-->

    <script>!window.jQuery && document.write(decodeURI('%3Cscript src="js/vendor/jquery-1.11.1.min.js"%3E%3C/script%3E'));</script>

    <!-- Bootstrap.js, Jquery plugins and Custom JS code -->
    <script src="/js/vendor/bootstrap.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/map.js"></script>
    <!-- Load and execute javascript code used only in this page -->
    <script>$(function(){ Index.init(); });</script>




    <!-- Include Jquery library from Google's CDN but if something goes wrong get Jquery from local file (Remove 'http:' if you have SSL) -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>!window.jQuery && document.write(decodeURI('%3Cscript src="js/vendor/jquery-1.11.1.min.js"%3E%3C/script%3E'));</script>
    <!--slick-->
    <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="/slick/slick.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.responsive').slick({
                dots: true,
                infinite: false,
                speed: 300,
                slidesToShow: 6,
                slidesToScroll: 6,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 6,
                            slidesToScroll: 6,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    }
                ]
            });
        });

    </script>

</head>
<body>
<!-- Alternative Sidebar -->

<div id="page-wrapper">

    <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">
        <% include ./partial/slidebar %>
        <!-- Main Container -->
        <div id="main-container">
            <% include ./partial/header %>
            <!-- END Header -->

            <!-- Page content -->
            <div id="page-content">
                <!-- Wizard Header -->
                <!-- END Wizard Header -->


                <!-- eCommerce Dashboard Header -->
                <div class="content-header">
                    <ul class="nav-horizontal text-center">
                        <li>
                            <a href="search_store"><i class="fa fa-shopping-cart"></i> Store</a>
                        </li>
                        <li>
                            <a href="search_product"><i class="gi gi-oxygen_bottle"></i> Product</a>
                        </li>
                        <li class="active">
                            <a href=""><i class="gi gi-tablet"></i> Industry</a>
                        </li>
                        <li>
                            <a href="tags"><i class="gi gi-tags"></i> Tag</a>
                        </li>
                    </ul>
                </div>
                <!-- END eCommerce Dashboard Header -->
                <div class="block">
                    <div class="responsive text-center">

                            <% industry_array.forEach(function(industry){ %>
                        <div>
                                <a class="btn btn-sm btn-primary" href="industry?type=<%= industry.industry_name %>"><%=industry.industry_name %></a>
                        </div>
                            <% }) %>


                    </div>
                </div>

                <div class="block">
                    <div class="table-responsive">
                        <table class="table table-vcenter table-striped">

                            <thead>
                            <tr>
                                <th style="width: 150px;" class="text-center"><i class="gi gi-user"></i></th>
                                <th>Store Name</th>
                                <th>Address</th>
                                <th style="width: 150px;" class="text-center">Actions</th>
                            </tr>
                            </thead>

                            <% if(typeof store_array != 'undefined'){ %>
                            <% store_array.forEach(function(store){ %>
                            <tbody>

                            <tr>
                                <td class="text-center"><img style="width: 30px;height: 30px;" src="<%= store.logo %>"
                                                             alt="avatar"
                                                             class="img-circle"></td>
                                <td><a href="/store/<%= store.url %>"><%= store.store_name.substring(0, 40) %>
                                        <% if (store.store_name.length > 20){ %>
                                        ...
                                        <% } %>
                                    </a></td>
                                <td>
                                    <% store.address.forEach(function (a) { %>
                                    <%= (a.street + ", " + a.district + ", " + a.city).substring(0, 40) %>... <a
                                            href="/store/<%= store.url %>">more</a>
                                    <% }) %>
                                </td>
                                <td class="text-center">
                                    <div class="btn-group btn-group-xs">
                                        <a href="edit_store?id=<%= store._id %>" data-toggle="tooltip" title="Edit"
                                           class="btn btn-default"><i class="fa fa-pencil"></i></a>
                                        <button value="<%= store._id %>" class="btn btn-danger deletestorebutton"><i
                                                    class="fa fa-times"></i></button>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                            <% })} else{%>
                            <tr class="text-center" >
                                <td class="text-center" colspan="4">
                                    Không có cửa hàng nào được tìm thấy!
                                </td>

                            </tr>
                            <%}%>

                        </table>
                    </div>

                </div>

                <!-- END Responsive Full Title -->

            </div>
            <!-- END Responsive Full Content -->
            <% include ./partial/footer %>
        </div>
        <!-- END Page Content -->

    </div>
    <!-- END Main Container -->

</div>
<!-- END Page Container -->

</div>
<!-- END Page Wrapper -->


<!-- User Settings, modal which opens from Settings link (found in top right user menu) and the Cog link (found in sidebar user info) -->
<% include ./partial/settings %>
<!-- END User Settings -->

</body>
</html>