<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ganxa Home Page</title>
    <% include ./partial/head %>
</head>
<body>
<div id="page-wrapper">
    <!-- Preloader -->
    <div class="preloader themed-background">
        <h1 class="push-top-bottom text-light text-center"><strong>Pro</strong>UI</h1>

        <div class="inner">
            <h3 class="text-light visible-lt-ie9 visible-lt-ie10"><strong>Loading..</strong></h3>

            <div class="preloader-spinner hidden-lt-ie9 hidden-lt-ie10"></div>
        </div>
    </div>
    <!-- END Preloader -->
    <!-- Page Container -->
    <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">
        <!-- Alternative Sidebar -->
        <% include ./partial/slidebar %>
        <div id="main-container">
            <% include ./partial/header %>
            <!-- Page content -->
            <div id="page-content">
                <!--ROW-->
                <div class="row">
                    <!--VIET TRONG NAY  -->
                    <a href="insert_media">Thêm Media</a>
                    <br>
                    <% product_array.forEach(function(product){ %>
                    <%= product.product_name %>
                    <%= product.price %>
                    <% }) %>
                    <br><br>Media nè:<br>
                    <% if(typeof media_array != 'undefined'){%>
                        <% media_array.forEach(function(media){ %>
                        Tên: <%= media.media_name %>
                        <br>
                        URL: <%= media.media_url %>
                        <br>
                        <a href="edit_media?id=<%= media._id %>">Edit</a>
                        <br>
                        <% })}else{ %>
                    <a>Không có</a>
                        <% } %>
                </div>



                <div class="col-md-12">
                    <!-- Lightbox Gallery with Options Block -->
                    <div class="block">
                        <!-- Lightbox Gallery with Options Title -->
                        <div class="block-title">
                            <h2><strong>Lightbox Gallery</strong> with Hover Options</h2>
                        </div>
                        <!-- END Lightbox Gallery with Options Title -->

                        <!-- Lightbox Gallery with Options Content -->
                        <div class="gallery" data-toggle="lightbox-gallery">
                            <div class="row">
                                <div class="col-sm-4 gallery-image">
                                    <img src="" alt="image">
                                    <div class="gallery-image-options text-center">
                                        <div class="btn-group btn-group-sm">
                                            <a href="img/placeholders/photos/photo10.jpg" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                                            <a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 gallery-image">
                                    <img src="img/placeholders/photos/photo11.jpg" alt="image">
                                    <div class="gallery-image-options text-center">
                                        <div class="btn-group btn-group-sm">
                                            <a href="img/placeholders/photos/photo11.jpg" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                                            <a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 gallery-image">
                                    <img src="img/placeholders/photos/photo12.jpg" alt="image">
                                    <div class="gallery-image-options text-center">
                                        <div class="btn-group btn-group-sm">
                                            <a href="img/placeholders/photos/photo12.jpg" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                                            <a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 gallery-image">
                                    <img src="img/placeholders/photos/photo13.jpg" alt="image">
                                    <div class="gallery-image-options text-center">
                                        <div class="btn-group btn-group-sm">
                                            <a href="img/placeholders/photos/photo13.jpg" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                                            <a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 gallery-image">
                                    <img src="img/placeholders/photos/photo14.jpg" alt="image">
                                    <div class="gallery-image-options text-center">
                                        <div class="btn-group btn-group-sm">
                                            <a href="img/placeholders/photos/photo14.jpg" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                                            <a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 gallery-image">
                                    <img src="img/placeholders/photos/photo15.jpg" alt="image">
                                    <div class="gallery-image-options text-center">
                                        <div class="btn-group btn-group-sm">
                                            <a href="img/placeholders/photos/photo15.jpg" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                                            <a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 gallery-image">
                                    <img src="img/placeholders/photos/photo16.jpg" alt="image">
                                    <div class="gallery-image-options text-center">
                                        <div class="btn-group btn-group-sm">
                                            <a href="img/placeholders/photos/photo16.jpg" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                                            <a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 gallery-image">
                                    <img src="img/placeholders/photos/photo17.jpg" alt="image">
                                    <div class="gallery-image-options text-center">
                                        <div class="btn-group btn-group-sm">
                                            <a href="img/placeholders/photos/photo17.jpg" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                                            <a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 gallery-image">
                                    <img src="img/placeholders/photos/photo18.jpg" alt="image">
                                    <div class="gallery-image-options text-center">
                                        <div class="btn-group btn-group-sm">
                                            <a href="img/placeholders/photos/photo18.jpg" class="gallery-link btn btn-sm btn-alt btn-default" title="Image Info">View</a>
                                            <a href="javascript:void(0)" class="btn btn-sm btn-alt btn-default" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Lightbox Gallery with Options Content -->
                    </div>
                    <!-- END Lightbox Gallery with Options Block -->
                </div>

                <!--END ROW-->
            </div>
            <!-- END Page Content -->
            <% include ./partial/footer %>
        </div>
        <!-- Page content -->
    </div>
</div>
<!--END PAGE WRAPPER-->
<% include ./partial/settings %>
</body>
</html>