<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ganxa Home Page</title>
    <% include ./partial/head %>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".deletemediabutton").click(function () {
                $.ajax({
                    url: "/delete/media/"+$(this).val(),
                    type: "DELETE",
                    success: function (data, textStatus, jqXHR) {
                        window.location.href = "/";
                    }
                });
            });
        });
    </script>
</head>
<body>
<div id="page-wrapper">
    <!-- Preloader -->
    <div class="preloader themed-background">
        <h1 class="push-top-bottom text-light text-center"><strong>Pro</strong>UI</h1>

        <div class="inner">
            <h3 class="text-light visible-lt-ie9 visible-lt-ie10"><strong>Loading..</strong></h3>

            <div class="preloader-spinner hidden-lt-ie9 hidden-lt-ie10"></div>
        </div>
    </div>
    <!-- END Preloader -->
    <!-- Page Container -->
    <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">
        <!-- Alternative Sidebar -->
        <% include ./partial/slidebar %>
        <div id="main-container">
            <% include ./partial/header %>
            <!-- Page content -->
            <div id="page-content">
                <!--ROW-->

                <% product_array.forEach(function(product){ %>
                <div class="col-md-12">
                    <!-- Lightbox Gallery with Options Block -->
                    <div class="block">
                        <!-- Lightbox Gallery with Options Title -->
                        <div class="block-title">

                            <a href="" title="Edit product"
                               class="btn btn-lg btn-default pull-right themed-background"
                               style="margin-top: 10px;margin-right: 10px;">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="insert_media" title="Add media"
                               class="btn btn-lg btn-default  pull-right themed-background"
                               style="margin-top: 10px;margin-right: 10px;">
                                <i class="fa fa-plus"></i>
                            </a>

                            <h2><strong>Media </strong>in  <%= product.product_name %></h2>
                            <br>

                            <h2><strong>Price </strong>  <%= product.price %> VND</h2>


                        </div>
                        <!-- END Lightbox Gallery with Options Title -->

                        <!-- Lightbox Gallery with Options Content -->
                        <div class="gallery" data-toggle="lightbox-gallery">
                            <div class="row">

                                <% if(typeof media_array != 'undefined'){ %>
                                <% media_array.forEach(function(media){ %>
                                <div class="col-sm-6 col-xs-12 col-md-4 gallery-image">

                                    <% if (media.media_type == 'Image'){ %>
                                    <div style="height: 200px;overflow-y: hidden;">
                                        <img src="<%= media.media_url %>" alt="image">
                                    </div>
                                    <div class="gallery-image-options text-center">
                                        <div class="btn-group btn-group-sm">
                                            <a href="<%= media.media_url %>"
                                               class="gallery-link btn btn-sm btn-alt btn-default"
                                               title="<%=media.media_name%>">View</a>
                                            <a href="edit_media?id=<%= media._id %>"
                                               class="btn btn-sm btn-alt btn-default"
                                               data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                                        </div>
                                    </div>
                                    <% }else{ %>
                                    <div style="height: 200px;overflow-y: hidden;">
                                        <iframe height="200" src="<%= media.media_url%>" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <div class="text-center edit" >
                                        <div class="btn-group btn-group-sm">
                                            <a href="edit_media?id=<%= media._id %>"
                                               class="btn btn-sm btn-alt btn-default"
                                               data-toggle="tooltip" title="Edit"><i class="fa fa-pencil"></i></a>
                                        </div>
                                    </div>
                                    <% } %>

                                </div>
                                <% })}else{ %>
                                <p><%= media_notification %></p>
                                <% } %>
                            </div>
                        </div>
                        <!-- END Lightbox Gallery with Options Content -->
                    </div>
                    <!-- END Lightbox Gallery with Options Block -->
                </div>
                <% }) %>
                <!--END ROW-->
            </div>
            <!-- END Page Content -->
            <% include ./partial/footer %>
        </div>
        <!-- Page content -->
    </div>
</div>
<!--END PAGE WRAPPER-->
<% include ./partial/settings %>
</body>
</html>