<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ganxa Home Page</title>
    <% include ./partial/head %>
    <script>

        $(function () {

            $("#rdb1").click(function () {
                $(".button_ss").attr("name", "1");
            });
            $("#rdb2").click(function () {
                $(".button_ss").attr("name", "2");
            });
            $(".button_ss").click(function () {
                $('.toHide').hide();
                $("#blk-" + $(this).attr("name")).show('slow');
            });
        });

    </script>
</head>
<body>
<div id="page-wrapper">
    <!-- Preloader -->
    <div class="preloader themed-background">
        <h1 class="push-top-bottom text-light text-center"><strong>Pro</strong>UI</h1>

        <div class="inner">
            <h3 class="text-light visible-lt-ie9 visible-lt-ie10"><strong>Loading..</strong></h3>

            <div class="preloader-spinner hidden-lt-ie9 hidden-lt-ie10"></div>
        </div>
    </div>
    <!-- END Preloader -->

    <!-- Page Container -->
    <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">
        <!-- Alternative Sidebar -->
        <% include ./partial/slidebar %>
        <div id="main-container">
            <% include ./partial/header %>
            <!-- Page content -->
            <div id="page-content">
                <!--ROW-->
                <div class="row">



                    <!--VIET TRONG NAY  -->

                    <form action="" method="post">
                        <div class="col-md-1"></div>
                        <div class="col-md-7">
                            <input name="txtTextSearch" type="text" placeholder="Bạn muốn tìm gì?" autofocus class="form-control">
                        </div>

                        <div class="col-md-2 ">
                            <div class="col-md-12 form-control">
                                <label style="margin-right: 12px;"><input type="radio" id="rdb1" class="store" name="type" value="store" checked>Store</label>
                                <label><input id="rdb2" class="product " type="radio" name="type" value="product"/>Product</label>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="input-group-btn">
                                <!--<button type="button" class="btn btn-primary" tabindex="-1">Search</button>-->
                                <input type="submit" name="button_s" class="button_ss btn btn-primary" tabindex="-1" value="Search">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <% industry_array.forEach(function(i){ %>
                                    <li><a href="industry?type=<%=i.industry_name%>"><%=i.industry_name%></a></li>
                                    <%})%>
                                    <li class="divider"></li>

                                </ul>
                            </div>
                        </div>

                        <div class="col-md-12 quan-search">
                            <div class="col-md-1"><label></label></div>
                            <div class="col-md-2 "><label class="form-control">Tìm theo quận:</label></div>
                            <div class="col-md-8 ">

                                <select name="optDistrict" class="form-control  ">
                                    <option>Tất Cả Các Quận</option>
                                    <% location_array.forEach(function(location){ %>
                                    <optgroup label="<%= location.city %>">
                                        <% location.district.forEach(function(district){ %>
                                        <option value="<%=district%>"><%=district%></option>
                                        <% }) %>
                                    </optgroup>
                                    <% }) %>
                                </select>
                            </div>
                        </div>


                    </form>



                </div>
                <!--END ROW-->
            </div>
            <!-- END Page Content -->
            <% include ./partial/footer %>
        </div>
        <!-- Page content -->

    </div>

</div>
<!--END PAGE WRAPPER-->
<% include ./partial/settings %>

</body>
</html>