<!DOCTYPE html>
<html lang="en">
<head>
<title>Store Detail</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

    <script src="../js/vendor/jquery-1.11.1.min.js"></script>

    <!--font awesome-->
    <link rel="stylesheet" href="../css/font-awesome.css"/>
    <link rel="stylesheet" href="../css/font-awesome.min.css"/>
    <!--bootflat-->

    <!--<link rel="stylesheet" href="./libs/Bootflat/bootflat/css/bootflat.min.css">-->
    <!--style-->
    <link rel="stylesheet" href="../css/style.css"/>

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="../img/favicon.png">
    <link rel="apple-touch-icon" href="../img/icon57.png" sizes="57x57">
    <link rel="apple-touch-icon" href="../img/icon72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="../img/icon76.png" sizes="76x76">
    <link rel="apple-touch-icon" href="../img/icon114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="../img/icon120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="../img/icon144.png" sizes="144x144">
    <link rel="apple-touch-icon" href="../img/icon152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="../img/icon180.png" sizes="180x180">
    <!-- END Icons -->

    <!-- Stylesheets -->
    <!-- Bootstrap is included in its original form, unaltered -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- Related styles of various icon packs and plugins -->
    <link rel="stylesheet" href="../css/plugins.css">

    <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
    <link rel="stylesheet" href="../css/main.css">

    <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

    <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
    <link rel="stylesheet" href="../css/themes.css">
    <!-- END Stylesheets -->



    <!-- Remember to include excanvas for IE8 chart support -->
    <!--[if IE 8]><script src="../js/helpers/excanvas.min.js"></script><![endif]-->

    <!--<script>!window.jQuery && document.write(decodeURI('%3Cscript src="js/vendor/jquery-1.11.1.min.js"%3E%3C/script%3E'));</script>-->

    <!-- Bootstrap.js, Jquery plugins and Custom JS code -->


    <script src="../js/vendor/bootstrap.min.js"></script>
    <script src="../js/plugins.js"></script>
    <script src="../js/app.js"></script>



    <!-- Load and execute javascript code used only in this page -->
    <script>$(function(){ Index.init(); });</script>




    <!--map-->
    <link rel="stylesheet" href="../css/map.css">


    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>

<script>
var geocoder;
var map;
var lat;
var long;
var marker;
function initialize() {
    geocoder = new google.maps.Geocoder();
    var mapOptions = {
        zoom: 17
    };
    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function (position) {
            <% store_array.forEach(function(s){ %>
            var pos = new google.maps.LatLng(<%=s.latitude%>, <%=s.longitude%>);

            lat = <%=s.latitude%>;
            long = <%=s.longitude%>;
            var llat = document.getElementById("a");
            llat.value = lat.toFixed(7);
            var llng = document.getElementById("o");
            llng.value = long.toFixed(7);

            marker = new google.maps.Marker({
                position: pos,
                map: map,
                title: '<%=s.store_name%>',
                animation: google.maps.Animation.DROP,
                anchor: new google.maps.Point(0, 49)
            });
            /*google.maps.event.addListener(marker, 'drag', function (a) {
                var elem = document.getElementById("a");
                elem.value = a.latLng.lat().toFixed(7);
                var elem = document.getElementById("o");
                elem.value = a.latLng.lng().toFixed(7);
            });*/
            <%})%>
            map.setCenter(pos);
        }, function () {
            handleNoGeolocation(true);
        });
    } else {
        handleNoGeolocation(false);
    }
    getLatLong();
} //Hết init
//Browser has support geo?
function handleNoGeolocation(errorFlag) {
    if (errorFlag) {
        var content = 'Error: The Geolocation service failed.';
    } else {
        var content = 'Error: Your browser doesn\'t support geolocation.';
    }
    var options = {
        map: map,
        position: new google.maps.LatLng(60, 105),
        content: content
    };
    map.setCenter(options.position);
}
google.maps.event.addDomListener(window, 'load', initialize);
</script>
    <script src="../js/vendor/jquery-1.11.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".deleteproductbutton").click(function () {
            var answer = confirm("Xóa thiệt hả, mất luôn đó?");
            if (answer) {
                var x = $(this).val();
//                var url = window.location.pathname;
                $.ajax({
                    url: "/delete/product/" + $(this).val(),
                    type: "DELETE",
                    success: function (data) {
                        alert(data);
//                        window.location.href = "../store/" + data + "";
                        $('#' + x).slideUp();
                    }
                });
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#backtoid").click(function () {
            $('html, body').animate({
                scrollTop: $("#dich").offset().top
            }, 700);
        });
    });
</script>
</head>
<body>
<!-- Preloader -->
<div class="preloader themed-background">
    <h1 class="push-top-bottom text-light text-center"><strong>Softer Source</strong>UI</h1>

    <div class="inner">
        <h3 class="text-light visible-lt-ie9 visible-lt-ie10"><strong>Loading..</strong></h3>

        <div class="preloader-spinner hidden-lt-ie9 hidden-lt-ie10"></div>
    </div>
</div>
<!-- END Preloader -->

<!-- Page Container -->
<div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">
    <!-- Alternative Sidebar -->
    <% include ./partial/slidebar %>
    <div id="main-container">
        <% include ./partial/header %>
        <!-- Page content -->
        <div id="page-content">
            <!--ROW-->
            <div class="row">
                <div class="col-md-6 input_insertstore">
                    <input type="hidden" id="a" name="txtLatitude"
                           class="form-control">
                </div>
                <div class="col-md-6 input_insertstore">
                    <input type="hidden" id="o" name="txtLongitude"
                           class="form-control  ">
                </div>
                <!--popup-->
                <!--<div class="modal fade" id="popup-map" tabindex="1" role="dialog">-->
                <!--<center><div id="map-canvas" class="map"></div></center>-->
                <!--</div>-->
                <!--end popup-->
                <% store_array.forEach(function (store) { %>
                <div class="col-md-2"></div>
                <div class="col-md-8 col-sm-12 col-xs-12 col-lg-8">
                    <!-- Advanced Active Theme Color Widget -->
                    <div class="widget">
                        <div class="widget-advanced">
                            <!-- Widget Header -->
                            <div class="widget-header-store text-center themed-background-dark"
                                 style="background-image: url('<%= store.cover %>') ">


                                <img style="width: 100%;height: 100%;" src="<%= store.cover %>">


                            </div>
                            <!-- END Widget Header -->

                            <!-- Widget Main -->
                            <div class="widget-main">
                                <a href="javascript:void(0)" class="widget-image-container animation-bigEntrance">
                                        <span class="widget-store"><img
                                                    src="<%= store.logo %>"
                                                    class="img-circle logo-storedetails2"></span>
                                </a>
                                <table class="table table-borderless table-striped table-vcenter">
                                    <tbody>
                                    <tr>
                                        <td class="text-center" colspan="2">
                                            <strong style="font-size: xx-large;"><%= store.store_name %> </strong>
                                        </td>
                                    </tr>
                                    <tr>
                                    <tr>
                                        <td class="text-right"><strong>Website</strong></td>
                                        <td><%= store.website %></td>
                                        <!--<td rowspan="7">-->
                                        <!--<div id="map-canvas" class="map"></div>-->
                                        <!--</td>-->
                                    </tr>


                                    <tr>
                                        <td class="text-right"><strong>Fan page</strong></td>
                                        <td><%= store.fanpage %></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right"><strong>Address</strong></td>
                                        <td style="white-space: pre-line;">
                                            <a href="#" id="backtoid">

                                                <%= store.address[0].street %>, <%= store.address[0].district %>, <%= store.address[0].city %>
                                                <% if(store.address[0].room){ %>
                                                Phòng <%= store.address[0].room %>
                                                <% } %>
                                            </a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="text-right"><strong>Description</strong></td>
                                        <td><%- store.description %></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right"><strong>Time of work</strong></td>
                                        <td><%= store.hours_of_work %></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right"><strong>Industry</strong></td>
                                        <td><a href="../industry?type=<%= store.industry %>"><%= store.industry %></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right"><strong>Status</strong></td>
                                        <td><span class="label label-success"><i
                                                        class="fa fa-check"></i> Active</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <center>
                                                <a href="../edit_store?id=<%= store._id %>"
                                                   class="btn btn-sm btn-primary"><i
                                                            class="fa fa-angle-right"></i> Edit store</a>
                                                <a href="../insert_product?id=<%= store._id %>"
                                                   class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i>
                                                    Add
                                                    Product</a>
                                            </center>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                            <!-- END Widget Main -->
                        </div>
                    </div>
                    <!-- END Advanced Active Theme Color Widget -->
                </div>
                <% }) %>
                <% if(typeof product_array != 'undefined'){ %>
                <% product_array.forEach(function (product) { %>
                <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4 ">
                    <div class="widget">
                        <div class="widget-simple">
                            <button value="<%= product._id %>" title="Del product"
                                    class="btn btn-xs btn-default pull-right themed-background deleteproductbutton">
                                <i class="gi gi-remove_2"></i>
                            </button>
                            <a href="../edit_product?id=<%= product._id %>" title="Edit product"
                               class="btn btn-xs btn-default pull-right themed-background">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="../insert_media?id=<%= product._id %>" title="Add media "
                               class="btn btn-xs btn-default  pull-right themed-background">
                                <i class="fa fa-plus"></i>
                            </a>

                            <h4 class="widget-content">
                                <a href="../product/<%=product.url%>"><strong><%= product.product_name %></strong></a>
                                <small>Tag
                                    <% for(i = 0; i < product.tags.length; i++){ %>
                                    <a href="../tags?tag=<%= product.tags[i] %>"><p
                                                class="label label-primary "> <%= product.tags[i] %></p></a>
                                    <% } %>
                                </small>
                            </h4>
                        </div>
                        <div class="widget-extra-full themed-background-dark">
                            <!-- Carousel -->
                            <div id="widget-carousel1" class="carousel slide remove-margin">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="active item" style="height:350px; overflow-y:hidden;">
                                        <img src="<%= product.product_image %>">

                                    </div>
                                </div>
                                <!-- END Wrapper for slides -->
                            </div>
                            <!-- END Carousel -->
                        </div>
                    </div>
                </div>
                <% })}else if(product_notification){ %>
                <div class="block col-md-12 text-center">
                    <p><%=product_notification%></p>
                </div>
                <% } %>

                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" id="dich">
                    <div class="block">
                        <div class="block-title">
                            <h2><strong>This is my store address!</strong></h2>
                        </div>
                        <fieldset>
                            <div id="map-canvas" style="margin-bottom: 3%;" class="map"></div>
                        </fieldset>
                    </div>
                </div>

            </div>
            <!--END ROW-->
        </div>
        <!-- END Page Content -->

        <% include ./partial/footer %>
    </div>
    <!-- Page content -->

</div>


</div>
<!--END PAGE WRAPPER-->
<% include ./partial/settings %>

</body>
</html>