<!DOCTYPE html>
<html lang="en">
<head>
    <title>Store Detail</title>
    <% include ./partial/head %>
    <script src="../js/map.js"></script>
    <script>
        var geocoder;
        var map;
        var lat;
        var long;
        var marker;
        function initialize() {
            geocoder = new google.maps.Geocoder();
            var mapOptions = {
                zoom: 20
            };
            map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    <% store_array.forEach(function(s){ %>
                    var pos = new google.maps.LatLng(<%=s.latitude%>, <%=s.longitude%>);

                    //Set vào 2 bi?n này.
                    lat = <%=s.latitude%>;
                    long = <%=s.longitude%>;
                    var elem = document.getElementById("a");
                    elem.value = lat.toFixed(7);
                    var elem = document.getElementById("o");
                    elem.value = long.toFixed(7);
                    <%})%>
                    marker = new google.maps.Marker({
                        draggable: true,
                        position: pos,
                        map: map,
                        title: 'B?n dang ? dây?',
                        animation: google.maps.Animation.DROP,
                        anchor: new google.maps.Point(0, 49)

                    });
                    google.maps.event.addListener(marker, 'drag', function (a) {
                        var elem = document.getElementById("a");
                        elem.value = a.latLng.lat().toFixed(7);
                        var elem = document.getElementById("o");
                        elem.value = a.latLng.lng().toFixed(7);
                    });

                    map.setCenter(pos);
                }, function () {
                    handleNoGeolocation(true);
                });
            } else {
                handleNoGeolocation(false);
            }
            getLatLong();

            google.maps.event.addListener(map, "click", function (event) {
                var lat = event.latLng.lat();
                var lng = event.latLng.lng();

                marker.setMap(null);

                var pos = new google.maps.LatLng(lat, lng);

                marker = new google.maps.Marker({
                    draggable: true,
                    position: pos,
                    map: map,
                    title: "B?n ? dây?",
                    raiseOnDrag: false,
                    animation: google.maps.Animation.DROP
                });

                google.maps.event.addListener(marker, 'drag', function (a) {
                    var elem = document.getElementById("a");
                    elem.value = a.latLng.lat().toFixed(7);
                    var elem = document.getElementById("o");
                    elem.value = a.latLng.lng().toFixed(7);
                });

                var elem = document.getElementById("a");
                elem.value = lat.toFixed(7);
                var elem = document.getElementById("o");
                elem.value = lng.toFixed(7);
            });

            var input = (document.getElementById('pac-input'));
            var click = (document.getElementById('search'));
            map.controls[google.maps.ControlPosition.TOP_RIGHT].push(click);
            map.controls[google.maps.ControlPosition.TOP_RIGHT].push(input);
            var autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.bindTo('bounds', map);
            var infowindow = new google.maps.InfoWindow();
            marker = new google.maps.Marker({
                map: map,
                /*anchorPoint: new google.maps.Point(0, -29),*/
                draggable: true,
                position: pos,
                title: "B?n ? dây?",
                raiseOnDrag: false,
                animation: google.maps.Animation.DROP
            });

            //Event place_changed cho textbox autocomplete
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                alert("her");
                infowindow.close();
                marker.setVisible(false);
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    return;
                }

                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(20);  // Why 17? Because it looks good.
                }

                marker = new google.maps.Marker({
                    draggable: true,
                    position: pos,
                    map: map,
                    title: "B?n ? dây?",
                    raiseOnDrag: false,
                    animation: google.maps.Animation.DROP
                });

                /*google.maps.event.addListener(marker, 'drag', function(a) {
                 var elem = document.getElementById("a");
                 elem.value = a.latLng.lat().toFixed(7);
                 var elem = document.getElementById("o");
                 elem.value = a.latLng.lng().toFixed(7);
                 });*/

                marker.setPosition(place.geometry.location);
                var elem = document.getElementById("a");
                elem.value = place.geometry.location.lat().toFixed(7);
                var elem = document.getElementById("o");
                elem.value = place.geometry.location.lng().toFixed(7);
                marker.setVisible(true);

                var address = '';
                if (place.address_components) {
                    address = [
                        (place.address_components[0] && place.address_components[0].short_name || ''),
                        (place.address_components[1] && place.address_components[1].short_name || ''),
                        (place.address_components[2] && place.address_components[2].short_name || '')
                    ].join(' ');
                }

                infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
                infowindow.open(map, marker);
            });
        } //H?t init
        function toggleBounce() {

            if (marker.getAnimation() != null) {
                marker.setAnimation(null);
            } else {
                marker.setAnimation(google.maps.Animation.BOUNCE);
            }
        }
        //Ki?m tra xem trình duy?t có h? tr? geolocation không?
        function handleNoGeolocation(errorFlag) {
            if (errorFlag) {
                var content = 'Error: The Geolocation service failed.';
            } else {
                var content = 'Error: Your browser doesn\'t support geolocation.';
            }
            var options = {
                map: map,
                position: new google.maps.LatLng(60, 105),
                content: content
            };
            map.setCenter(options.position);
        }

        //L?y lat, lng.
        function getLatLong() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }

        function showPosition(position) {
            //Set lat và long xu?ng textbox.
            /*var elem = document.getElementById("a");
             elem.value = position.coords.latitude;
             var elem = document.getElementById("o");
             elem.value = position.coords.longitude;*/
        }

        function codeAddress() {
            var address = document.getElementById('pac-input').value;
            geocoder.geocode({'address': address}, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var elem = document.getElementById("a");
                    elem.value = results[0].geometry.location.lat().toFixed(7);
                    var elem = document.getElementById("o");
                    elem.value = results[0].geometry.location.lng().toFixed(7);

                    pos = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());

                    map.setCenter(results[0].geometry.location);
                    marker.setVisible(false);
                    marker = new google.maps.Marker({
                        draggable: true,
                        position: pos,
                        map: map,
                        title: "B?n ? dây?",
                        raiseOnDrag: false,
                        animation: google.maps.Animation.DROP
                    });

                    google.maps.event.addListener(marker, 'drag', function (a) {
                        var elem = document.getElementById("a");
                        elem.value = a.latLng.lat().toFixed(7);
                        var elem = document.getElementById("o");
                        elem.value = a.latLng.lng().toFixed(7);
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".deleteproductbutton").click(function () {
                $.ajax({
                    url: "/delete/product/" + $(this).val(),
                    type: "DELETE",
                    success: function (data, textStatus, jqXHR) {
                        window.location.href = "../store_detail";
                    }
                });
            });
        });
    </script>
    <style>
        #map-canvas {
            float: left;
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
<!-- Preloader -->
<div class="modal fade" id="popup-map" role="dialog">
    <div class="modal-content">
        <div id="map-canvas" class="map"></div>
    </div>
</div>
<div class="preloader themed-background">
    <h1 class="push-top-bottom text-light text-center"><strong>Softer</strong>Source</h1>

    <div class="inner">
        <h3 class="text-light visible-lt-ie9 visible-lt-ie10"><strong>Loading..</strong></h3>

        <div class="preloader-spinner hidden-lt-ie9 hidden-lt-ie10"></div>
    </div>
</div>
<!-- END Preloader -->

<!-- Page Container -->
<div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">
    <!-- Alternative Sidebar -->
    <% include ./partial/slidebar %>
    <div id="main-container">
        <% include ./partial/header %>
        <!-- Page content -->
        <div id="page-content">
            <!--ROW-->
            <div class="row">

                <!--popup-->

                <!--end popup-->
                <% store_array.forEach(function (store) { %>
                <div class="col-md-2"></div>
                <div class="col-md-8 col-sm-8 col-xs-12 col-lg-8">
                    <!-- Advanced Active Theme Color Widget -->
                    <div class="widget">
                        <div class="widget-advanced">
                            <!-- Widget Header -->
                            <div class="widget-header-store text-center ">

                                <img style="width: 100%;height: 100%;" src="<%= store.cover %>">
                            </div>
                            <!-- END Widget Header -->
                            <!-- Widget Main -->
                            <div class="widget-main">
                                <a href="javascript:void(0)" class="widget-image-container animation-bigEntrance">
                                        <span class="widget-store"><img
                                                    src="<%= store.logo %>"
                                                    class="img-circle logo-storedetails2"></span>
                                </a>
                                <table class="table table-borderless table-striped table-vcenter">
                                    <tbody>
                                    <tr>
                                        <td class="text-center" colspan="2">
                                            <strong style="font-size: xx-large;"><%= store.store_name %> </strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right"><strong>Website</strong></td>
                                        <td><%= store.website %></td>
                                        <!--<td rowspan="7">-->
                                        <!--<div id="map-canvas" class="map"></div>-->
                                        <!--</td>-->
                                    </tr>


                                    <tr>
                                        <td class="text-right"><strong>Fan page</strong></td>
                                        <td><%= store.fanpage %></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right"><strong>Address</strong></td>
                                        <td style="white-space: pre-line;">
                                            <a href="" data-toggle="modal" data-target="#popup-map">

                                                <%= store.address[0].street + ", " + store.address[0].district + ", " + store.address[0].city %>
                                                <% if(store.address[0].room){ %>
                                                <%= store.address[0].room %>
                                                <% } %>
                                            </a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="text-right"><strong>Description</strong></td>
                                        <td><%- store.description %></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right"><strong>Time of work</strong></td>
                                        <td><%= store.hours_of_work %></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right"><strong>Industry</strong></td>
                                        <td><a href="../industry?type=<%= store.industry %>"><%= store.industry %></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-right"><strong>Status</strong></td>
                                        <td><span class="label label-success"><i
                                                        class="fa fa-check"></i> Active</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <center>
                                                <a href="../edit_store?id=<%= store._id %>"
                                                   class="btn btn-sm btn-primary"><i
                                                            class="fa fa-angle-right"></i> Edit store</a>
                                                <a href="../insert_product?id=<%= store._id %>"
                                                   class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i>
                                                    Add
                                                    Product</a>
                                            </center>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                            <!-- END Widget Main -->
                        </div>
                    </div>
                    <!-- END Advanced Active Theme Color Widget -->
                </div>
                <% }) %>
                <% if(typeof product_array != 'undefined'){ %>
                <% product_array.forEach(function (product) { %>
                <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4 ">
                    <div class="widget">
                        <div class="widget-simple">
                            <button value="<%= product._id %>" title="Del product"
                                    class="btn btn-xs btn-default  dele pull-right themed-background deleteproductbutton">
                                <i class="gi gi-remove_2"></i>
                            </button>
                            <a href="../edit_product?id=<%= product._id %>" title="Edit product"
                               class="btn btn-xs btn-default pull-right themed-background">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="../insert_media?id=<%= product._id %>" title="Add media "
                               class="btn btn-xs btn-default  pull-right themed-background">
                                <i class="fa fa-plus"></i>
                            </a>

                            <h4 class="widget-content" style="height: 100px;">
                                <a href="../product_detail?id=<%= product._id %>"><strong><%= product.product_name %></strong></a>
                                <small>Tag <% for(i = 0; i < product.tags.length; i++){ %>
                                        <a href="../tags?tag=<%= product.tags[i] %>"><p
                                                    class="label label-primary "> <%= product.tags[i] %></p></a>
                                        <%}%></small>
                            </h4>
                        </div>
                        <div class="widget-extra-full themed-background-dark">
                            <!-- Carousel -->
                            <div id="widget-carousel1" class="carousel slide remove-margin">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner">
                                    <div class="active item" style="height:350px; overflow-y:hidden;">
                                        <img src="<%= product.product_image %>">

                                    </div>
                                </div>
                                <!-- END Wrapper for slides -->
                            </div>
                            <!-- END Carousel -->
                        </div>
                    </div>
                </div>
                <% })}else{ %>
                <div class="block text-center">
                    <p>Không có sản phẩm nào trong cửa hàng này !</p>
                </div>

                <% } %>
            </div>
            <!--END ROW-->
        </div>
        <!-- END Page Content -->
        <% include ./partial/footer %>
    </div>
    <!-- Page content -->

</div>


</div>
<!--END PAGE WRAPPER-->
<% include ./partial/settings %>
<script>!window.jQuery && document.write(decodeURI('%3Cscript src="js/vendor/jquery-1.11.1.min.js"%3E%3C/script%3E'));</script>

</body>
</html>